<div class="wrapper">
  <div class="content-box">
    
    <div>
      <h1>Purchase Order Management</h1>
      <!-- Add a New Order -->
      <form (submit)="addOrder($event)">
        Medicine Name:
        <input
          type="text"
          [(ngModel)]="newOrder.item"
          placeholder="medicine name"
          required
          name="item"
        />
        <br />
        Quantity:
        <input
          type="number"
          [(ngModel)]="newOrder.quantity"
          placeholder="quantity"
          required
          name="quantity"
        />
        <br />

        <!-- Dropdown for Supplier Name -->
        Supplier Name:
        <select [(ngModel)]="newOrder.supplier" required name="supplier">
          <option value="" disabled selected>Select Supplier</option>
          <option *ngFor="let supplier of suppliers" [value]="supplier">
            {{ supplier }}
          </option>
        </select>
        <br />
        <br />
        Batch Number:
        <input
          type="text"
          [(ngModel)]="newOrder.batchNo"
          placeholder="Batch Number"
          required
          name="batchNo"
        />
        <br />
        <button type="submit">Add Order</button>
      </form>

      <!-- Orders List -->
      <h2>Orders List</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Supplier Name</th>
            <th>Batch Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of purchaseOrders">
            <td>{{ order.id }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.supplier }}</td>
            <td>{{ order.batchNo }}</td>
            <td>
              <button (click)="deleteOrder(order.id)">Delete</button>
              <button
                class="space-button"
                (click)="reorderProduct(order.id)"
              >
                Reorder
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>